* {
    margin: 0px;
}

body {
    font-family: Inter;
    color: #2B283A;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
}

h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.17em;
}

h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

a {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-decoration-line: underline;
    color: #918E9B;
}

section {
    padding: 0px 40px;
    margin: 60px 0px;
    max-width: 900px;
}

div#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

div.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.header {
    width: 100%;
    background-color: #FF7F5A;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding: 10px 0px;
    align-items: center;
    justify-content: center;
}

.header--logo{
    height: 50px;
}

.header p{
    color: #FFFFFF;
    font-size: 22px;
}

.season-list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.season {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
}

.season--left {
    min-width: 200px;
    max-width: 45%;
    min-height: 400px;
    position: relative;
}

.season--left--badge {
    width: auto;
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: 400;
    font-size: 16px;
  }

.season--left--image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.season--right {
    min-width: 300px;
    max-width: 45%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.season--right--top-information {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.season--right--top-information--pin {
    width: 10px;
    height: 15px;
}

.season--right--top-information--country {
    margin-left: 10px;
}

.season--right--top-information--link {
    margin-left: 20px;
}

.season--rigth--title {
    margin-top: 5px;
}

.season--rigth--period {
    margin-top: 20px;
}

.season--rigth--description {
    margin-top: 10px;
}